// Place all the styles related to the basic define.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "short_cut.scss";

body {
  background-image:url("/static/images/bg.png");
  background-position:50%;
  background-color:#eeeeee;
  font-size:10pt;
}
footer {
  text-align:center;
}
a {
  color:$link_color;
  text-decoration:none;
  &:hover {color:darken($link_color, 20%);}
}
#main-logo {
  height:70px;
  h1 {
    img {
      vertical-align:bottom;
      margin-left:5px;
    }
  }
}
.pull-right {
  float:right;
}
.nav {
  background-color:#f59477;
  @include shadow(0px 6px 6px, #aaa);
  height:37px;
  line-height:37px;
}
.nav:after {
  @include lace;
}
nav {
  ul {
  }
  li {
    float:left;
    margin-left:10px;
    //border-right:1px dashed #fff;
  }
  a {
    padding-right:10px;
    color:#fff;
    font-weight:bolder;
    text-decoration:none;
    &:hover {
      color:#fff;
      text-decoration:underline;
    }
  }
}

#main {
  margin-top:25px;
}
.content {
  padding:10px;
}
.sheet {
  margin-bottom:15px;
  @include shadow(0px 10px 10px, #ccc);
  position:relative;
}
.sheet:after {
  @include lace;
  position:absolute;
  bottom:-11px;
  left:0px;
}